.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60vw;
  padding: 16px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 24px rgb(0 0 0 / 50%);
}

@mixin flex-grid-items($cols) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > * {
    $item-width: calc(100% / $cols - 20px);

    box-sizing: border-box;
    width: $item-width;
    margin: 5px;
  }
}

.mainDiv {
  @include flex-grid-items(2);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  text-align: center;

  background-color: rgb(178 210 224 / 45%);
  border-radius: 5px;
}
